<div id="<%= dom_id colaborator %>">
    <tr>
      <td><%= colaborator.id %></td>
      <td><%= colaborator.name %></td>
      <td><%= colaborator.email %></td>
      <td><%= colaborator.direction %></td>
      <td><%= link_to "Mostrar este colaborador", colaborator %></td>
    </tr>
</div>
